body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}
:root {
    --emphasis-font-family: "Prohibition Test", Helvetica;
    --emphasis-font-size: 54px;
    --emphasis-font-style: normal;
    --emphasis-font-weight: 400;
    --emphasis-letter-spacing: 1.62px;
    --emphasis-line-height: normal;
    --gradient-colors: rgba(50, 183, 182, 1);
}
