.header {
    background-color: #000000;
    height: calc(2.5vh + 2.5vw);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    color: #c4c4c4;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 12%;
    display: flex;
    align-items: center; /* Ensure vertical centering */
    justify-content: center;
    font-size: 1.1rem;
    line-height: 1.5; /* Adjusted line-height for better vertical alignment */
    transform: translateY(2%);
}

.nav-item a {
    text-decoration: none;
    color: #c4c4c4;
}

.nav-dropdown-icon {
    margin-left: 5px;
    font-size: 0.8rem;
    display: inline-flex; /* Ensures proper alignment with text */
    align-items: center;
    height: 43%;
    transform: translateY(-15%) translateX(-10%); /* Adjusted slightly for consistent alignment */
}

.header-logo {
    height: 80%; /* Adjusted slightly for consistent alignment */
}

.header-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
