.home {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

.home .div {
    background-color: #000000;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.home .overlap {
    border: 1px solid;
    border-color: #ffffff;
    height: 79px;
    left: 189px;
    position: absolute;
    top: 9px;
    width: 222px;
}

.home .text-wrapper {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 56px;
    font-weight: 700;
    left: 94px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.home .overlap-group {
    height: 470px;
    left: -1px;
    position: absolute;
    top: 106px;
    width: 1442px;
}

.home .rectangle {
    border: 1px solid;
    border-color: #ffffff;
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;
}

.home .group {
    background-color: #ffffff;
    border-radius: 20px;
    height: 35px;
    left: 199px;
    position: absolute;
    top: 8px;
    width: 35px;
}

.home .frame {
    height: 25px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 25px;
}

.home .union {
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 16px;
}

.home .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    left: 246px;
    position: absolute;
    top: 1px;
}

.home .frame-3 {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 52px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.home .text-wrapper-3 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.home .frame-4 {
    height: 25px;
    position: relative;
    width: 25px;
}

.home .frame-5 {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 52px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.home .frame-6 {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 52px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.home .frame-24 {
    align-items: flex-start;
    display: inline-flex;
    gap: 25px;
    left: 1042px;
    position: absolute;
    top: 11px;
}

.home .text-wrapper-21 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.home .frame-28 {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    left: 769px;
    padding: 10px 20px;
    position: absolute;
    top: 9px;
    width: 242px;
}

.home .text-wrapper-22 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.home .union-8 {
    height: 22px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 22px;
}
